<%= render :partial => '/shared/mobile_nav_slideout' %>

<div class="container">
  
  <%= render :partial => '/shared/header' %>  

  <div class="container--login_block small-push-1">
  
  	<div class="flash">
  		<%= flash[:message] %>
  	</div>
  
    <h2>Log In:</h2>

    <%= form_for :user, url: {action: "find"}, method: "post" do |f| %>
    	<%= f.label "username", "Username:" %>
        <%= f.text_field("username") %><br><br>
    	<%= f.label "password", "Password:" %>
        <%= f.password_field("password") %><br><br>
        <%= f.submit "Log In" %>
    <% end %>
  
  </div>

</div>