<%= render :partial => '/shared/mobile_nav_slideout' %>

<div class="container">
  
  <%= render :partial => '/shared/header' %>  

  <div class="container--partials">
    <% if @user %>
  
    <div class="container--partials--user_options small-push-1">
      
      <div class="flash">
      <%= flash[:message] %>
      </div>
      
      <ul>
        <li><%= link_to("LOG APOLOGY", new_apology_path) %></li>
        <li><%= link_to("SEE ALL", apologies_path) %></li>
      </ul>
    </div>
  
    <% else %>
  
      <%= render :partial => '/shared/about_statement' %>
  
    <% end %>
  </div>

</div>